/* <= 1176px (1176 x 786 screen size) */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #013243;
  height: 100vh;
  border: 1px solid white;
  z-index: -10;
}
section {
  color: #32f5c8;
  width: 75%;
  margin: auto auto;
  margin: 3rem auto 0rem auto;
}
.logo {
  transform: scale(0.9);
}
.main-header {
  font-family: "Sen", sans-serif;
  font-size: 7rem;
  line-height: 7.5rem;
  margin: 4rem 0rem 0rem 0rem;
}
h1 span {
  position: relative;
  z-index: -5;
  top: 0;
}
.description {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  width: 40%;
  color: #b9b7b7;
  margin: 1.8rem 0rem 0rem 0rem;
}
button {
  font-family: "Inter", sans-serif;
  background-color: #32f5c8;
  display: block;
  padding: 2% 2.5%;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: #013243;
  margin: 2rem 0rem 0rem 0rem;
  font-weight: bold;
}
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #b9b7b7;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  width: 27%;
  margin: 3rem 0rem 0rem -1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:focus {
  outline: none;
}
a svg {
  transform: scale(0.8);
  margin-right: 0.2rem;
}

img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  transform: scale(0.9);
}

.image-1 {
  top: 40%;
  right: 14.3%;
}
.image-2 {
  top: 5%;
  right: 12%;
}
.image-3 {
  top: 15%;
  left: 4.5%;
}
.image-4 {
  right: 17%;
  bottom: 6%;
}
.image-5 {
  top: 12%;
  right: 29%;
}
.image-6 {
  transform: scale(0.8);
  top: 41.5%;
  right: 41%;
}


/* <= 640 px screen size    (640 x 800) */

@media screen and (max-width: 640px) {
  section {
    width: 90%;
    /* border: 2px solid red; */
    margin-top: 1.8rem;
  }

  .main-header {
    line-height: 1.2;
    font-size: 4.8rem;
    margin: 11rem 0rem 0rem 0rem;
  }
  .img img {
    bottom: 0px;
    transform: scale(0.8);
  }
  .image-1 {
    right: 6%;
    top: 28%;
  }
  .image-2 {
    right: 2.8%;
    top: 1.8%;
  }
  .image-3 {
    top: 9%;
    left: 4%;
  }
  .image-4 {
    right: 2%;
  }
  .image-5 {
    top: 21.5%;
    left: 53%;
  }
  .image-6 {
    right: 16%;
    top: 46%;
  }

  .description {
    width: 65%;
  }

  button {
    padding: 1.2rem 2.3rem;
  }
  a {
    margin-left: -0.5rem;
    width: 40%;
    margin-top: 8rem;
  }
}

/*  <= 400 px */

@media  screen and (max-width:480px) {
  .main-header{
    font-size: 3.3rem;
    margin-top: 9.5rem;
  }

  .image-1{
    display: none;  
  }
  .img .image-4{
    top: 61%;
    right: -7%;
    transform: scale(0.7);
    
  }
  .img .image-2{
    transform: scale(0.9);
    top: 13%;
    right: -0.5%;
  }
  .image-3{
    left: 8%;
    top: 14%;
  }
  
  .img .image-5{
   display: none;
  }
  .image-6{
    display: none;    
  }
  .description{
    width: 100%;
    font-size: 1.5rem;
  }

  button{
    font-size: 1.25rem;
  }
  a{
    margin-top: 12rem;
    width: 60%;
  }
}
